/*Brandon Cressley*/
p, h1 {color: white; font-family:tahoma,helvettica,sans-serif; font-size: 20pt; text-align: center; }
h2 {color: white; font-family:tahoma,helvettica,sans-serif; font-size: 15pt; text-align: center; }
	a {color: blue}
body {background: url(bookBackground.jpg) gray no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size:cover;}

.forms{text-align: center}
.none {color: red}
.beginner {color: blue}
.intermediate {color: green}
.expert {color: black}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
