 <!DOCTYPE html>
<html>
   <head>
      <title>            </title>
	  <link href="\style.css" rel="stylesheet" type="text/css">
	 
	 <meta charset="utf-8">
   </head>
 
<body>
	<div align="right"><a href="../logout">Logout</a></div>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
 
</body>
 
</html>