<!DOCTYPE html>
<html>
   <head>
      <title>            </title>
	  <link href="\style.css" rel="stylesheet" type="text/css">
	 
	 <meta charset="utf-8">
   </head>
	<body>
    <div align="right"><a href="../">Home</a></div>
	<h1>Enter your Student Login Information:</h1>
		<form id="signinstu" name="signinstu" method="post" action="signinstu">
			<p> <label>E-mail Address:<br /></label>
			<input type="text" name="email" id="emailLogin" size="40" value=""/>
			</p>
			<br />
			<p> <label>Password:<br /></label>
			<input type="password" name="password" id="pwordLogin" size="40" value=""/>
			</p>
			<br />
			
			<p><input type="submit" value="Submit"/>
			<input type="reset" value="Clear"/>
			</p>
		</form>
		<script>
			var stuData = <%-JSON.stringify(stuData)%>;
			var obj = JSON.parse(stuData);
			
			function submitTest(){
				var emailValue = document.getElementById("emailLogin").value;
				var passValue = document.getElementById("pwordLogin").value;
				for(i = 0; i < 4; i++){
					if(obj[i].email == emailValue ){
						if(obj[i].password == passValue ){
							alert("User has logged in");
							//alert(window.location.href);
							//newpage();
							document.location.href = '../tempProfile';
							//window.location.assign("../tempProfile");
						}	
					}
				}
				//alert(emailValue);
				//alert(stuData);
			}
			
			function newpage(){
				window.location.href("http://faculty.kutztown.edu/tan/rwd/330.html");
			}
			
		</script>
	</body>
</html> 