<!DOCTYPE html>

<!--
     Name:         		Brandon Cressley
     Project Phase 1: 	Class Attendance System
	 Purpose:	   		Create an application to record attendance of a class.
     URL:          		http://unixweb.kutztown.edu/~bcres539/index.html
     Course:       		CSC 242 - Fall 2015
     Due Date:     		March 28, 2016
-->

<html>
   <head>
      <title>            </title>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <script type="text/javascript">
	  <!--
	  function login()
{
		var stuLogin = "Student Login";
		var stuLoginLink = stuLogin.link("../signinstu");
		var facLogin = "Faculty Login";
		var facLoginLink = facLogin.link("../signinfac");
		
		document.getElementById("loginSTU").innerHTML = stuLoginLink;
		document.getElementById("loginFAC").innerHTML = facLoginLink;
}
		function register()
{
	    var stuRegister = "Student Registration";
		var stuRegisterLink = stuRegister.link("../signupstu");
		var facRegister = "Faculty Registration";
		var facRegisterLink = facRegister.link("../signupfac");
		
        document.getElementById("registerSTU").innerHTML = stuRegisterLink;
		document.getElementById("registerFAC").innerHTML = facRegisterLink;
}	  
	  //-->
	  </script>
	  <meta charset="utf-8">
   </head>
	<body>
		<p>
			<img src="gslogo.png" height=200 />
			<br>
			<br>
			
			<div id=forms>
			<form>
			<p><input type="button" onclick="login()" value="Login" /></p>
			<p id="loginSTU"></p>
			<p id="loginFAC"></p>
			</form>
			<form>
			<p><input type="button" onclick="register()" value="Register" /></p>
			<p id="registerSTU"></p>
			<p id="registerFAC"></p>
			</form>
			</div>
		</p>
	</body>
</html>


